@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .display{
    display: flex;
  }
  .text-gray{
        color:rgba(66, 66, 66, 1) ;
  }
  .text-gray-light{
        color: rgba(114, 114, 114, 1);
  }
  .nav-item{
    
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;

  }
  .brand{
    font-size: 3rem;
    font-weight: 700px;
    
  }
  .navbar{
    justify-content: space-around;
    align-items: center;
     
  }
  .bg-light{
    background-color: rgba(249, 234, 176, 1);
     
    
  }
  .navbar {
        max-width: 1440px;
        margin: 0 auto;
  }

.banner{
    
    max-width: 1440px;
    margin: 0 auto;

  }
  .tittle{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .btn{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
     
  }
  .bg-image{
     
    
     
  } 
   div img{
    max-width: 80%;
    height: auto;
     
    margin-left: 100px; 
     
     
   }
   main{
    min-width: 1000px;
    margin: 0 auto;
   }
   .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
     
     
   }
   main > section{
    margin-top: 110px;
   }
   .teams{
    align-items: center;
    gap: 100px;
   }
    .features{
      max-width: 500px;

    }
    .features-tittle{
      font-size: 2.8rem;
      font-weight: 700;
    }
    #quick-list{
      font-weight: 500;
    }
    #feature-color{
      color: rgba(255, 144, 14, 1);
    }
    .facts-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    .fact{
      color: rgba(114, 114, 114, 1);
      border: 2px solid rgba(255, 144, 14, 1);
      width: 120px;
      height: 120px;
      border-radius: 5px;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    .fact-icon{
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
    }
   @media screen and (max-width: 576px) {
      .navbar, .display{
        flex-direction: column;
      }
      div img{
         max-width: 100%;
         height: auto;
         margin: 0 auto;
      }
      .features .teams{
        flex-direction: column;
      }
      .img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
      }
      .teams{
        margin-left: 0 auto;
      }
       
      }
   